# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
node_modules/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
# React handles these with the REACT_APP_ prefix.
.env
.env.local

# Build artifacts and temporary files
build/
dist/
.vite/

# development files
dommy.jsx
app-v1.jsx
other files