/* :root {
  --border: 1px solid #e1e1e1;
  --color-1: #ff9a00;
} */

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

/* Base card styles */
.task-card {
  border: var(--border);
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  position: relative;
  height: min-content;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.task-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.task-card .pin {
  width: 24px;
  height: 24px;
  border-radius: 3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.2s ease-in-out;
}

.pin.pinned {
  opacity: 1;
  visibility: visible;
}

.task-card:hover .pin {
  opacity: 1;
  visibility: visible;
}

.task-card .pin:hover {
  background: #a7a7a744;
}

.task-card .pin svg {
  width: 16px;
  height: 16px;
  color: #4e4e4e;
}

.task-card .title {
  color: #202020;
}

.task-card .description,
.task-card .cardProperties {
  font-size: 14px;
}

.task-card .cardProperties {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.task-card .description {
  color: #666;
}

/* .task-card .cardProperties .dueDate {
  color: var(--color-1);
} */

.dueDate svg {
  margin-right: 5px;
}

#task-btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  align-items: center;
}

#task-btn:hover {
  background: rgba(141, 141, 141, 0.2);
  /* background-color: rgb(248, 249, 250, 0.5); */
}

/* Main layout and containers */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 4rem;
  z-index: 1;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  justify-content: space-between;
}

.mainContainer {
  margin-top: 3rem;
  padding: 1.5rem 1.5rem 1.5rem 5.5rem;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 4.5rem);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 12px;
  color: #666;
  width: 100%;
}

/* Search bar styles */
.searchContainer {
  width: 450px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.searchContainer:focus-within {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchContainer .searchBar {
  border-radius: 5px;
  border: var(--border);
  padding: 0 12px;
}

.searchContainer .searchBar button {
  background-color: unset;
  color: var(--color-1);
  padding: 0;
  background: #fff;
}

/* label tag style */
.label-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.label-tag {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(154, 160, 166, 0.54);
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.label-tag:hover button {
  display: flex !important;
}

.label-tag input {
  color: #4e4e4e;
  background-color: transparent;
  padding: 0 4px !important;
  border: none;
  font-weight: 500;
}

.label-tag input:focus,
.label-tag input:focus-visible {
  outline: 0;
}

.label-tag button {
  display: none !important;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.label-tag button:hover {
  background-color: rgba(141, 141, 141, 0.2);
}

.label-tag span {
  font-size: 12px;
  color: #4e4e4e;
  padding: 0 4px;
}

/* General button styles */
.btn {
  padding: 5px;
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}


.btn:focus,
.btn:active,
.btn.active,
.btn.show {
  box-shadow: none !important;
  border: none;
}

.mainContainer .menuBtnContainer {
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: end;
}

.menuBtnContainer a {
  display: flex;
  align-items: center;
}

.menuBtnContainer .dropdown-menu svg {
  height: 15px;
  width: 15px;
  margin-right: 14px;
}

.menuBtnContainer svg {
  height: 20px;
  width: 20px;
}

.mainContainer .btn:focus-visible {
  background-color: #fff;
  border: var(--border);
}

.mainContainer .btn::after {
  display: none;
}

.mainContainer .btn:hover {
  background-color: rgba(141, 141, 141, 0.2);
}

.submit-btn .btn.submit {
  background-color: var(--color-1);
  color: #ffffff;
}

.submit-btn .btn.cancel {
  border: var(--border);
}

.submit-btn .btn.cancel:hover {
  background-color: rgba(128, 128, 128, 0.153);
}

/* task container */

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.taskContainer .section-title {
  font-size: 14px;
  font-weight: 500;
}

/* .pinned-tasks-section {
  margin-bottom: 2em;
} */

/* Form and input styles */
.task-properties {
  width: 50%;
  gap: 1em;
  position: relative;
}

.task-properties .react-datepicker-wrapper {
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
}

.task-properties input {
  border: none;
  width: inherit;
  height: 100%;
  border-radius: 5px;
  color: #000;
  background: #fff;
}

.task-properties input:focus,
.task-properties input:focus-visible,
.task-properties .form-select:focus,
.task-properties .form-select:focus-visible {
  border-color: var(--color-1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 154, 0, 0.25);
}

/* Dropdown and menu styles */
#task-menu:active {
  background-color: #fff;
}

.dropdown-menu a:focus,
.dropdown-menu a:active,
.dropdown-menu a.active {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #000;
}

/* Visibility utilities */
.hidden {
  display: none;
}

.block {
  display: block !important;
}

/* Mobile-specific styles */
.sideNavMobileToggle {
  display: none !important;
}

@media (max-width: 640px) {
  .header .searchContainer {
    width: auto;
  }

  .mainContainer {
    padding: 1.5rem;
  }

  .header {
    padding: 0 1.5rem;
  }

  .sideNavMobileToggle {
    display: block !important;
    padding: 0.5rem;
    background: unset;
  }

  .popup {
    width: 90% !important;
  }

  .mobile {
    left: -4rem;
    width: 0;
  }

  .mobile .profileContainer span {
    display: none;
  }

  .taskContainer {
    grid-template-columns: 1fr 1fr !important;
  }

  .cardProperties {
    flex-direction: column;
  }

  .task-card .pin {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

/* Other styles */
.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Delete message popup styles */
.popup-container h1 {
  line-height: 23px;
  font-size: 16px;
}

.popup-container p {
  font-size: 14px;
}