.color-picker-container {
  position: absolute;
  left: 50%;
  bottom: -200%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  gap: 0.5rem;
}

/* Styles for the individual color swatch circles */
.color-swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #d1d5db;
  transition: border-color 0.2s ease-in-out;
}

/* Hover effect for the color swatch circles */
.color-swatch:hover {
  border-color: #3b82f6;
}