.color-picker-container {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid #ddd;
  max-width: fit-content;
  flex-wrap: wrap;
}

/* Styles for the individual color swatch circles */
.color-swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #d1d5db;
  transition: border-color 0.2s ease-in-out;
}

.color-swatch:hover {
  border-color: #3b82f6;
}

.color-swatch:hover {
  scale: 1.1;
}

/*
animation: 0.5s ease 0s 1 normal none running fadein;
background-image: radial-gradient(circle at 55% 0px, rgba(54, 180, 255, 0.93), rgba(156, 17, 255, 0) 67%), radial-gradient(circle at 50% 0px, rgb(29, 38, 126), rgba(30, 9, 145, 0) 69%), radial-gradient(circle at 81% 11%, rgb(54, 180, 255), rgba(83, 255, 221, 0) 25%), radial-gradient(circle at 18% -7%, rgb(227, 123, 255), rgba(255, 83, 154, 0) 33%), radial-gradient(circle at 50% 44%, rgb(104, 66, 205), rgba(141, 123, 239, 0) 85%, rgba(141, 123, 239, 0) 85%, rgba(141, 123, 239, 0) 85%);
*/