.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
    width: 15rem;
    height: 100vh;
    padding: 2em 1em;
    box-sizing: border-box;
    transition: 0.25s all;
    box-sizing: border-box;
    box-shadow: var(--bs-box-shadow) !important;
}

.sideBarMenu ul {
    padding: 1em 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis
}

.sideBarMenu ul li::marker {
    color: #1c274c00;
}

.sideBarMenu li {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.sideBarMenu ul li a {
    justify-content: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.sideBarMenu ul li a .txt {
    padding-left: 0.5em;
    color: #1c274c;
    font-size: 14px;
}

.sideBarMenu ul li:hover {
    background-color: rgba(128, 128, 128, 0.153);
    transition: 0.25s all;
}

.sideBarMenu ul li.active {
    background-color: var(--button-hover);
}

.sidebarImage {
    width: 1.3em;
    cursor: pointer;
}

.sideBar .profileImage {
    width: 2em;
    border-radius: 50%;
}

.sideBar .profileContainer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer:hover {
    cursor: pointer;
}

.sidebarToggle img:hover {
    cursor: pointer;
}

.profileContainer span {
    margin: 0 0 0 0.5em;
}

.sideBarMenu .txt {
    white-space: nowrap;
}

.sideBar.active {
    width: 4rem;
}

.sideBar.active .profileContainer span {
    display: none;
    /* opacity: 0; */
}

.sideBar.active .sideBarMenu ul li a .txt {
    display: none;
    /* opacity: 0; */
}

.sideBar.active .sideBarMenu ul li a {
    justify-content: center;
}

/* .sideBar.active .profileToggleContainer a {
    margin-left: 1.5em;
} */

.dynamicCalendarIcon {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.dynamicCalendarIcon span {
    position: absolute;
    font-size: 0.7em;
    color: #1c274c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 4.5px;
}

.sidebarToggle {
    position: relative;
}

.sidebarToggle .burgerContainer {
    content: "";
    position: absolute;
    background-color: var(--root-color);
    top: -10px;
    right: calc(-1em - 10px);
    height: 20px;
    width: 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerContainer img {
    width: 1.1rem;
    transition: 0.25s ease-in-out;
    rotate: 180deg;
}

.sideBar.active .burgerContainer img {
    transition: ease-in-out;
    rotate: 0deg;
    margin-left: 2px;
}

.mainContainer {
    margin-left: 4rem !important;
}